In [1]:
! pip install numpy pandas

Collecting numpy
  Downloading numpy-1.26.2-cp310-cp310-win_amd64.whl.metadata (61 kB)
     ---------------------------------------- 0.0/61.2 kB ? eta -:--:--
     ------ --------------------------------- 10.2/61.2 kB ? eta -:--:--
     ------------------------------- ------ 51.2/61.2 kB 660.6 kB/s eta 0:00:01
     -------------------------------------- 61.2/61.2 kB 548.1 kB/s eta 0:00:00
Collecting pandas
  Downloading pandas-2.1.4-cp310-cp310-win_amd64.whl.metadata (18 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\505\.conda\envs\lambda3_10\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\505\.conda\envs\lambda3_10\lib\site-packages (from pandas) (2023.3.post1)
Collecting tzdata>=2022.1 (from pandas)
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ---------------------------------------- 0.0/341.8 kB ? eta -:--:--
     ---------------------- --------------- 204.8/341.8 kB 4.1 MB/s eta 0:00:01
     -------------------------------------- 341.8/341.8 kB 4.3 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\505\.conda\envs\lambda3_10\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading numpy-1.26.2-cp310-cp310-win_amd64.whl (15.8 MB)
   ---------------------------------------- 0.0/15.8 MB ? eta -:--:--
   ---------------------------------------- 0.2/15.8 MB 5.3 MB/s eta 0:00:03
    --------------------------------------- 0.4/15.8 MB 4.5 MB/s eta 0:00:04
   - -------------------------------------- 0.5/15.8 MB 4.5 MB/s eta 0:00:04
   - -------------------------------------- 0.6/15.8 MB 4.1 MB/s eta 0:00:04
   - -------------------------------------- 0.8/15.8 MB 3.6 MB/s eta 0:00:05
   -- ------------------------------------- 0.9/15.8 MB 3.5 MB/s eta 0:00:05
   -- ------------------------------------- 1.0/15.8 MB 3.4 MB/s eta 0:00:05
   -- ------------------------------------- 1.2/15.8 MB 3.4 MB/s eta 0:00:05
   --- ------------------------------------ 1.3/15.8 MB 3.2 MB/s eta 0:00:05
   --- ------------------------------------ 1.5/15.8 MB 3.2 MB/s eta 0:00:05
   --- ------------------------------------ 1.6/15.8 MB 3.1 MB/s eta 0:00:05
   ---- ----------------------------------- 1.7/15.8 MB 3.1 MB/s eta 0:00:05
   ---- ----------------------------------- 1.8/15.8 MB 3.1 MB/s eta 0:00:05
   ---- ----------------------------------- 2.0/15.8 MB 3.0 MB/s eta 0:00:05
   ----- ---------------------------------- 2.1/15.8 MB 3.0 MB/s eta 0:00:05
   ----- ---------------------------------- 2.2/15.8 MB 2.9 MB/s eta 0:00:05
   ----- ---------------------------------- 2.3/15.8 MB 2.9 MB/s eta 0:00:05
   ----- ---------------------------------- 2.4/15.8 MB 2.8 MB/s eta 0:00:05
   ------ --------------------------------- 2.4/15.8 MB 2.7 MB/s eta 0:00:05
   ------ --------------------------------- 2.5/15.8 MB 2.6 MB/s eta 0:00:06
   ------ --------------------------------- 2.5/15.8 MB 2.5 MB/s eta 0:00:06
   ------ --------------------------------- 2.5/15.8 MB 2.4 MB/s eta 0:00:06
   ------ --------------------------------- 2.6/15.8 MB 2.4 MB/s eta 0:00:06
   ------ --------------------------------- 2.7/15.8 MB 2.3 MB/s eta 0:00:06
   ------ --------------------------------- 2.7/15.8 MB 2.3 MB/s eta 0:00:06
   ------ --------------------------------- 2.8/15.8 MB 2.2 MB/s eta 0:00:06
   ------- -------------------------------- 2.8/15.8 MB 2.2 MB/s eta 0:00:06
   ------- -------------------------------- 2.8/15.8 MB 2.1 MB/s eta 0:00:07
   ------- -------------------------------- 2.9/15.8 MB 2.0 MB/s eta 0:00:07
   ------- -------------------------------- 2.9/15.8 MB 2.0 MB/s eta 0:00:07
   ------- -------------------------------- 3.0/15.8 MB 2.0 MB/s eta 0:00:07
   ------- -------------------------------- 3.0/15.8 MB 1.9 MB/s eta 0:00:07
   ------- -------------------------------- 3.1/15.8 MB 1.9 MB/s eta 0:00:07
   ------- -------------------------------- 3.2/15.8 MB 1.9 MB/s eta 0:00:07
   -------- ------------------------------- 3.2/15.8 MB 1.9 MB/s eta 0:00:07
   -------- ------------------------------- 3.3/15.8 MB 1.9 MB/s eta 0:00:07
   -------- ------------------------------- 3.4/15.8 MB 1.9 MB/s eta 0:00:07
   -------- ------------------------------- 3.5/15.8 MB 1.9 MB/s eta 0:00:07
   --------- ------------------------------ 3.6/15.8 MB 1.9 MB/s eta 0:00:07
   --------- ------------------------------ 3.7/15.8 MB 1.9 MB/s eta 0:00:07
   --------- ------------------------------ 3.7/15.8 MB 1.9 MB/s eta 0:00:07
   --------- ------------------------------ 3.8/15.8 MB 1.9 MB/s eta 0:00:07
   --------- ------------------------------ 3.9/15.8 MB 1.8 MB/s eta 0:00:07
   ---------- ----------------------------- 4.0/15.8 MB 1.8 MB/s eta 0:00:07
   ---------- ----------------------------- 4.1/15.8 MB 1.8 MB/s eta 0:00:07
   ---------- ----------------------------- 4.1/15.8 MB 1.8 MB/s eta 0:00:07
   ---------- ----------------------------- 4.2/15.8 MB 1.8 MB/s eta 0:00:07
   ----------- ---------------------------- 4.4/15.8 MB 1.9 MB/s eta 0:00:07
   ----------- ---------------------------- 4.5/15.8 MB 1.9 MB/s eta 0:00:07
   ----------- ---------------------------- 4.6/15.8 MB 1.9 MB/s eta 0:00:06
   ------------ --------------------------- 4.8/15.8 MB 1.9 MB/s eta 0:00:06
   ------------ --------------------------- 4.8/15.8 MB 1.9 MB/s eta 0:00:06
   ------------ --------------------------- 4.9/15.8 MB 1.9 MB/s eta 0:00:06
   ------------ --------------------------- 5.0/15.8 MB 1.9 MB/s eta 0:00:06
   ------------ --------------------------- 5.1/15.8 MB 1.9 MB/s eta 0:00:06
   ------------ --------------------------- 5.1/15.8 MB 1.9 MB/s eta 0:00:06
   ------------- -------------------------- 5.2/15.8 MB 1.8 MB/s eta 0:00:06
   ------------- -------------------------- 5.2/15.8 MB 1.8 MB/s eta 0:00:06
   ------------- -------------------------- 5.3/15.8 MB 1.8 MB/s eta 0:00:06
   ------------- -------------------------- 5.3/15.8 MB 1.8 MB/s eta 0:00:06
   ------------- -------------------------- 5.4/15.8 MB 1.8 MB/s eta 0:00:06
   -------------- ------------------------- 5.5/15.8 MB 1.8 MB/s eta 0:00:06
   -------------- ------------------------- 5.6/15.8 MB 1.8 MB/s eta 0:00:06
   -------------- ------------------------- 5.7/15.8 MB 1.8 MB/s eta 0:00:06
   -------------- ------------------------- 5.8/15.8 MB 1.8 MB/s eta 0:00:06
   -------------- ------------------------- 5.9/15.8 MB 1.8 MB/s eta 0:00:06
   --------------- ------------------------ 6.0/15.8 MB 1.8 MB/s eta 0:00:06
   --------------- ------------------------ 6.1/15.8 MB 1.8 MB/s eta 0:00:06
   --------------- ------------------------ 6.1/15.8 MB 1.8 MB/s eta 0:00:06
   --------------- ------------------------ 6.1/15.8 MB 1.8 MB/s eta 0:00:06
   --------------- ------------------------ 6.1/15.8 MB 1.8 MB/s eta 0:00:06
   --------------- ------------------------ 6.1/15.8 MB 1.7 MB/s eta 0:00:06
   --------------- ------------------------ 6.2/15.8 MB 1.7 MB/s eta 0:00:06
   --------------- ------------------------ 6.2/15.8 MB 1.7 MB/s eta 0:00:06
   --------------- ------------------------ 6.3/15.8 MB 1.7 MB/s eta 0:00:06
   --------------- ------------------------ 6.3/15.8 MB 1.7 MB/s eta 0:00:06
   --------------- ------------------------ 6.3/15.8 MB 1.7 MB/s eta 0:00:06
   --------------- ------------------------ 6.3/15.8 MB 1.7 MB/s eta 0:00:06
   --------------- ------------------------ 6.3/15.8 MB 1.6 MB/s eta 0:00:06
   --------------- ------------------------ 6.3/15.8 MB 1.6 MB/s eta 0:00:06
   --------------- ------------------------ 6.3/15.8 MB 1.6 MB/s eta 0:00:06
   --------------- ------------------------ 6.3/15.8 MB 1.6 MB/s eta 0:00:07
   --------------- ------------------------ 6.3/15.8 MB 1.6 MB/s eta 0:00:07
   --------------- ------------------------ 6.3/15.8 MB 1.6 MB/s eta 0:00:07
   ---------------- ----------------------- 6.3/15.8 MB 1.5 MB/s eta 0:00:07
   ---------------- ----------------------- 6.3/15.8 MB 1.5 MB/s eta 0:00:07
   ---------------- ----------------------- 6.3/15.8 MB 1.5 MB/s eta 0:00:07
   ---------------- ----------------------- 6.3/15.8 MB 1.5 MB/s eta 0:00:07
   ---------------- ----------------------- 6.4/15.8 MB 1.5 MB/s eta 0:00:07
   ---------------- ----------------------- 6.4/15.8 MB 1.4 MB/s eta 0:00:07
   ---------------- ----------------------- 6.4/15.8 MB 1.4 MB/s eta 0:00:07
   ---------------- ----------------------- 6.4/15.8 MB 1.4 MB/s eta 0:00:07
   ---------------- ----------------------- 6.5/15.8 MB 1.4 MB/s eta 0:00:07
   ---------------- ----------------------- 6.5/15.8 MB 1.4 MB/s eta 0:00:07
   ---------------- ----------------------- 6.6/15.8 MB 1.4 MB/s eta 0:00:07
   ---------------- ----------------------- 6.6/15.8 MB 1.4 MB/s eta 0:00:07
   ---------------- ----------------------- 6.7/15.8 MB 1.4 MB/s eta 0:00:07
   ----------------- ---------------------- 6.7/15.8 MB 1.4 MB/s eta 0:00:07
   ----------------- ---------------------- 6.8/15.8 MB 1.4 MB/s eta 0:00:07
   ----------------- ---------------------- 6.9/15.8 MB 1.4 MB/s eta 0:00:07
   ----------------- ---------------------- 6.9/15.8 MB 1.4 MB/s eta 0:00:07
   ----------------- ---------------------- 7.0/15.8 MB 1.4 MB/s eta 0:00:07
   ----------------- ---------------------- 7.0/15.8 MB 1.4 MB/s eta 0:00:07
   ----------------- ---------------------- 7.1/15.8 MB 1.4 MB/s eta 0:00:07
   ----------------- ---------------------- 7.1/15.8 MB 1.4 MB/s eta 0:00:07
   ------------------ --------------------- 7.2/15.8 MB 1.4 MB/s eta 0:00:07
   ------------------ --------------------- 7.2/15.8 MB 1.4 MB/s eta 0:00:07
   ------------------ --------------------- 7.2/15.8 MB 1.4 MB/s eta 0:00:07
   ------------------ --------------------- 7.3/15.8 MB 1.4 MB/s eta 0:00:07
   ------------------ --------------------- 7.4/15.8 MB 1.4 MB/s eta 0:00:07
   ------------------ --------------------- 7.5/15.8 MB 1.4 MB/s eta 0:00:07
   ------------------- -------------------- 7.5/15.8 MB 1.4 MB/s eta 0:00:07
   ------------------- -------------------- 7.6/15.8 MB 1.4 MB/s eta 0:00:06
   ------------------- -------------------- 7.7/15.8 MB 1.4 MB/s eta 0:00:06
   ------------------- -------------------- 7.7/15.8 MB 1.4 MB/s eta 0:00:06
   ------------------- -------------------- 7.8/15.8 MB 1.4 MB/s eta 0:00:06
   -------------------- ------------------- 7.9/15.8 MB 1.4 MB/s eta 0:00:06
   -------------------- ------------------- 8.0/15.8 MB 1.4 MB/s eta 0:00:06
   -------------------- ------------------- 8.1/15.8 MB 1.4 MB/s eta 0:00:06
   -------------------- ------------------- 8.2/15.8 MB 1.4 MB/s eta 0:00:06
   --------------------- ------------------ 8.3/15.8 MB 1.4 MB/s eta 0:00:06
   --------------------- ------------------ 8.4/15.8 MB 1.4 MB/s eta 0:00:06
   --------------------- ------------------ 8.5/15.8 MB 1.4 MB/s eta 0:00:06
   --------------------- ------------------ 8.6/15.8 MB 1.4 MB/s eta 0:00:06
   --------------------- ------------------ 8.7/15.8 MB 1.4 MB/s eta 0:00:06
   ---------------------- ----------------- 8.8/15.8 MB 1.4 MB/s eta 0:00:05
   ---------------------- ----------------- 8.9/15.8 MB 1.4 MB/s eta 0:00:05
   ---------------------- ----------------- 9.0/15.8 MB 1.4 MB/s eta 0:00:05
   ---------------------- ----------------- 9.1/15.8 MB 1.4 MB/s eta 0:00:05
   ----------------------- ---------------- 9.2/15.8 MB 1.4 MB/s eta 0:00:05
   ----------------------- ---------------- 9.2/15.8 MB 1.4 MB/s eta 0:00:05
   ----------------------- ---------------- 9.3/15.8 MB 1.4 MB/s eta 0:00:05
   ----------------------- ---------------- 9.4/15.8 MB 1.4 MB/s eta 0:00:05
   ----------------------- ---------------- 9.5/15.8 MB 1.4 MB/s eta 0:00:05
   ------------------------ --------------- 9.6/15.8 MB 1.4 MB/s eta 0:00:05
   ------------------------ --------------- 9.6/15.8 MB 1.4 MB/s eta 0:00:05
   ------------------------ --------------- 9.7/15.8 MB 1.4 MB/s eta 0:00:05
   ------------------------ --------------- 9.8/15.8 MB 1.4 MB/s eta 0:00:05
   ------------------------ --------------- 9.9/15.8 MB 1.4 MB/s eta 0:00:05
   ------------------------- -------------- 9.9/15.8 MB 1.4 MB/s eta 0:00:05
   ------------------------- -------------- 10.0/15.8 MB 1.4 MB/s eta 0:00:05
   ------------------------- -------------- 10.1/15.8 MB 1.4 MB/s eta 0:00:04
   ------------------------- -------------- 10.1/15.8 MB 1.4 MB/s eta 0:00:04
   ------------------------- -------------- 10.2/15.8 MB 1.4 MB/s eta 0:00:04
   ------------------------- -------------- 10.2/15.8 MB 1.4 MB/s eta 0:00:04
   -------------------------- ------------- 10.3/15.8 MB 1.4 MB/s eta 0:00:04
   -------------------------- ------------- 10.4/15.8 MB 1.4 MB/s eta 0:00:04
   -------------------------- ------------- 10.5/15.8 MB 1.4 MB/s eta 0:00:04
   -------------------------- ------------- 10.5/15.8 MB 1.4 MB/s eta 0:00:04
   -------------------------- ------------- 10.6/15.8 MB 1.4 MB/s eta 0:00:04
   --------------------------- ------------ 10.7/15.8 MB 1.4 MB/s eta 0:00:04
   --------------------------- ------------ 10.7/15.8 MB 1.4 MB/s eta 0:00:04
   --------------------------- ------------ 10.8/15.8 MB 1.4 MB/s eta 0:00:04
   --------------------------- ------------ 10.9/15.8 MB 1.4 MB/s eta 0:00:04
   --------------------------- ------------ 11.0/15.8 MB 1.4 MB/s eta 0:00:04
   --------------------------- ------------ 11.0/15.8 MB 1.4 MB/s eta 0:00:04
   ---------------------------- ----------- 11.1/15.8 MB 1.4 MB/s eta 0:00:04
   ---------------------------- ----------- 11.1/15.8 MB 1.4 MB/s eta 0:00:04
   ---------------------------- ----------- 11.2/15.8 MB 1.3 MB/s eta 0:00:04
   ---------------------------- ----------- 11.2/15.8 MB 1.3 MB/s eta 0:00:04
   ---------------------------- ----------- 11.3/15.8 MB 1.3 MB/s eta 0:00:04
   ---------------------------- ----------- 11.4/15.8 MB 1.3 MB/s eta 0:00:04
   ---------------------------- ----------- 11.4/15.8 MB 1.3 MB/s eta 0:00:04
   ----------------------------- ---------- 11.5/15.8 MB 1.3 MB/s eta 0:00:04
   ----------------------------- ---------- 11.6/15.8 MB 1.3 MB/s eta 0:00:04
   ----------------------------- ---------- 11.6/15.8 MB 1.3 MB/s eta 0:00:04
   ----------------------------- ---------- 11.7/15.8 MB 1.3 MB/s eta 0:00:04
   ----------------------------- ---------- 11.7/15.8 MB 1.3 MB/s eta 0:00:04
   ----------------------------- ---------- 11.8/15.8 MB 1.3 MB/s eta 0:00:04
   ------------------------------ --------- 11.9/15.8 MB 1.3 MB/s eta 0:00:04
   ------------------------------ --------- 11.9/15.8 MB 1.3 MB/s eta 0:00:03
   ------------------------------ --------- 12.0/15.8 MB 1.3 MB/s eta 0:00:03
   ------------------------------ --------- 12.1/15.8 MB 1.3 MB/s eta 0:00:03
   ------------------------------ --------- 12.2/15.8 MB 1.3 MB/s eta 0:00:03
   ------------------------------ --------- 12.2/15.8 MB 1.3 MB/s eta 0:00:03
   ------------------------------- -------- 12.3/15.8 MB 1.3 MB/s eta 0:00:03
   ------------------------------- -------- 12.4/15.8 MB 1.3 MB/s eta 0:00:03
   ------------------------------- -------- 12.4/15.8 MB 1.3 MB/s eta 0:00:03
   ------------------------------- -------- 12.6/15.8 MB 1.3 MB/s eta 0:00:03
   -------------------------------- ------- 12.7/15.8 MB 1.3 MB/s eta 0:00:03
   -------------------------------- ------- 12.8/15.8 MB 1.3 MB/s eta 0:00:03
   -------------------------------- ------- 12.9/15.8 MB 1.3 MB/s eta 0:00:03
   -------------------------------- ------- 13.0/15.8 MB 1.3 MB/s eta 0:00:03
   --------------------------------- ------ 13.0/15.8 MB 1.3 MB/s eta 0:00:03
   --------------------------------- ------ 13.1/15.8 MB 1.3 MB/s eta 0:00:03
   --------------------------------- ------ 13.2/15.8 MB 1.3 MB/s eta 0:00:02
   --------------------------------- ------ 13.3/15.8 MB 1.3 MB/s eta 0:00:02
   ---------------------------------- ----- 13.4/15.8 MB 1.3 MB/s eta 0:00:02
   ---------------------------------- ----- 13.5/15.8 MB 1.3 MB/s eta 0:00:02
   ---------------------------------- ----- 13.6/15.8 MB 1.3 MB/s eta 0:00:02
   ---------------------------------- ----- 13.7/15.8 MB 1.3 MB/s eta 0:00:02
   ---------------------------------- ----- 13.8/15.8 MB 1.3 MB/s eta 0:00:02
   ----------------------------------- ---- 13.9/15.8 MB 1.3 MB/s eta 0:00:02
   ----------------------------------- ---- 14.0/15.8 MB 1.3 MB/s eta 0:00:02
   ----------------------------------- ---- 14.0/15.8 MB 1.3 MB/s eta 0:00:02
   ----------------------------------- ---- 14.1/15.8 MB 1.3 MB/s eta 0:00:02
   ----------------------------------- ---- 14.2/15.8 MB 1.3 MB/s eta 0:00:02
   ----------------------------------- ---- 14.2/15.8 MB 1.3 MB/s eta 0:00:02
   ------------------------------------ --- 14.3/15.8 MB 1.3 MB/s eta 0:00:02
   ------------------------------------ --- 14.4/15.8 MB 1.3 MB/s eta 0:00:02
   ------------------------------------ --- 14.4/15.8 MB 1.3 MB/s eta 0:00:02
   ------------------------------------ --- 14.5/15.8 MB 1.3 MB/s eta 0:00:01
   ------------------------------------ --- 14.6/15.8 MB 1.3 MB/s eta 0:00:01
   ------------------------------------- -- 14.7/15.8 MB 1.3 MB/s eta 0:00:01
   ------------------------------------- -- 14.8/15.8 MB 1.3 MB/s eta 0:00:01
   ------------------------------------- -- 14.9/15.8 MB 1.3 MB/s eta 0:00:01
   -------------------------------------- - 15.0/15.8 MB 1.3 MB/s eta 0:00:01
   -------------------------------------- - 15.1/15.8 MB 1.3 MB/s eta 0:00:01
   -------------------------------------- - 15.3/15.8 MB 1.3 MB/s eta 0:00:01
   -------------------------------------- - 15.4/15.8 MB 1.3 MB/s eta 0:00:01
   ---------------------------------------  15.5/15.8 MB 1.3 MB/s eta 0:00:01
   ---------------------------------------  15.6/15.8 MB 1.4 MB/s eta 0:00:01
   ---------------------------------------  15.7/15.8 MB 1.4 MB/s eta 0:00:01
   ---------------------------------------  15.8/15.8 MB 1.4 MB/s eta 0:00:01
   ---------------------------------------  15.8/15.8 MB 1.4 MB/s eta 0:00:01
   ---------------------------------------- 15.8/15.8 MB 1.3 MB/s eta 0:00:00
Downloading pandas-2.1.4-cp310-cp310-win_amd64.whl (10.7 MB)
   ---------------------------------------- 0.0/10.7 MB ? eta -:--:--
   ---------------------------------------- 0.1/10.7 MB 2.3 MB/s eta 0:00:05
    --------------------------------------- 0.2/10.7 MB 2.0 MB/s eta 0:00:06
    --------------------------------------- 0.2/10.7 MB 2.2 MB/s eta 0:00:05
   - -------------------------------------- 0.3/10.7 MB 2.0 MB/s eta 0:00:06
   - -------------------------------------- 0.4/10.7 MB 2.0 MB/s eta 0:00:06
   - -------------------------------------- 0.5/10.7 MB 1.9 MB/s eta 0:00:06
   -- ------------------------------------- 0.6/10.7 MB 2.0 MB/s eta 0:00:06
   -- ------------------------------------- 0.8/10.7 MB 2.0 MB/s eta 0:00:05
   --- ------------------------------------ 0.9/10.7 MB 2.1 MB/s eta 0:00:05
   --- ------------------------------------ 1.0/10.7 MB 2.1 MB/s eta 0:00:05
   ---- ----------------------------------- 1.2/10.7 MB 2.3 MB/s eta 0:00:05
   ----- ---------------------------------- 1.3/10.7 MB 2.4 MB/s eta 0:00:04
   ----- ---------------------------------- 1.5/10.7 MB 2.5 MB/s eta 0:00:04
   ------ --------------------------------- 1.6/10.7 MB 2.5 MB/s eta 0:00:04
   ------ --------------------------------- 1.8/10.7 MB 2.5 MB/s eta 0:00:04
   ------- -------------------------------- 1.9/10.7 MB 2.5 MB/s eta 0:00:04
   ------- -------------------------------- 2.1/10.7 MB 2.5 MB/s eta 0:00:04
   -------- ------------------------------- 2.2/10.7 MB 2.5 MB/s eta 0:00:04
   -------- ------------------------------- 2.3/10.7 MB 2.5 MB/s eta 0:00:04
   --------- ------------------------------ 2.4/10.7 MB 2.5 MB/s eta 0:00:04
   --------- ------------------------------ 2.6/10.7 MB 2.5 MB/s eta 0:00:04
   ---------- ----------------------------- 2.7/10.7 MB 2.5 MB/s eta 0:00:04
   ---------- ----------------------------- 2.8/10.7 MB 2.5 MB/s eta 0:00:04

In [2]:
import pandas as pd
import numpy as np

In [ ]:
# data 폴더에 있는 파일을 읽어온다.

In [4]:
movie_df = pd.read_json('./data/movie.json')

In [5]:
movie_df

       id                              title
0       1                             Planes
1       2  Big Mommas: Like Father, Like Son
2       3                   Babes in Toyland
3       4             Million Dollar Mystery
4       5                       Street Kings
..    ...                                ...
995   996               Journey for Margaret
996   997                    Black Hole, The
997   998                    Little Fugitive
998   999    Monty Python and the Holy Grail
999  1000           Loins of Punjab Presents

[1000 rows x 2 columns]

In [6]:
review_df = pd.read_json('./data/review.json')

In [7]:
review_df

        id  movieId  userId  rating
0        1      863     189       4
1        2      608     217       3
2        3      405       6       2
3        4      959     238       5
4        5      839     122       3
...    ...      ...     ...     ...
996    997       85     212       2
997    998      952     273       4
998    999      729     240       1
999   1000      878     110       3
1000  1001        1     304       5

[1001 rows x 4 columns]

In [9]:
review_df.drop('id', axis=1, inplace=True)

In [ ]:
# inplace=True 메모리에 바로 저장

In [10]:
review_df

      movieId  userId  rating
0         863     189       4
1         608     217       3
2         405       6       2
3         959     238       5
4         839     122       3
...       ...     ...     ...
996        85     212       2
997       952     273       4
998       729     240       1
999       878     110       3
1000        1     304       5

[1001 rows x 3 columns]

In [13]:
movie_df.rename(columns = {'id':'movieId'}, inplace=True)

In [14]:
movie_df

     movieId                              title
0          1                             Planes
1          2  Big Mommas: Like Father, Like Son
2          3                   Babes in Toyland
3          4             Million Dollar Mystery
4          5                       Street Kings
..       ...                                ...
995      996               Journey for Margaret
996      997                    Black Hole, The
997      998                    Little Fugitive
998      999    Monty Python and the Holy Grail
999     1000           Loins of Punjab Presents

[1000 rows x 2 columns]

In [15]:
review_df.head(2)

   movieId  userId  rating
0      863     189       4
1      608     217       3

In [19]:
df=pd.merge(movie_df, review_df, on = 'movieId', how = 'left')

In [20]:
df

      movieId                              title  userId  rating
0           1                             Planes   286.0     4.0
1           1                             Planes   304.0     5.0
2           2  Big Mommas: Like Father, Like Son   109.0     2.0
3           2  Big Mommas: Like Father, Like Son   188.0     3.0
4           2  Big Mommas: Like Father, Like Son   243.0     4.0
...       ...                                ...     ...     ...
1371      997                    Black Hole, The   178.0     3.0
1372      997                    Black Hole, The   205.0     1.0
1373      998                    Little Fugitive   113.0     2.0
1374      999    Monty Python and the Holy Grail   224.0     4.0
1375     1000           Loins of Punjab Presents     NaN     NaN

[1376 rows x 4 columns]

In [21]:
# 각 영화 제목별로 별점에 대한 기본 통계치를 확인해보자

df.groupby('movieId')['rating'].describe()

         count      mean       std  min   25%  50%   75%  max
movieId
1          2.0  4.500000  0.707107  4.0  4.25  4.5  4.75  5.0
2          3.0  3.000000  1.000000  2.0  2.50  3.0  3.50  4.0
3          1.0  3.000000       NaN  3.0  3.00  3.0  3.00  3.0
4          1.0  3.000000       NaN  3.0  3.00  3.0  3.00  3.0
5          0.0       NaN       NaN  NaN   NaN  NaN   NaN  NaN
...        ...       ...       ...  ...   ...  ...   ...  ...
996        0.0       NaN       NaN  NaN   NaN  NaN   NaN  NaN
997        3.0  1.666667  1.154701  1.0  1.00  1.0  2.00  3.0
998        1.0  2.000000       NaN  2.0  2.00  2.0  2.00  2.0
999        1.0  4.000000       NaN  4.0  4.00  4.0  4.00  4.0
1000       0.0       NaN       NaN  NaN   NaN  NaN   NaN  NaN

[1000 rows x 8 columns]

In [22]:
df.groupby('title')['rating'].describe()

,count,mean,std,min,25%,50%,75%,max
title,,,,,,,,
"1, 2, 3, Sun (Un, deuz, trois, soleil)",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112 Weddings,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12 Storeys (Shier lou),3.0,4.333333,1.154701,3.0,4.0,5.0,5.0,5.0
13 Ghosts,1.0,3.000000,NaN,3.0,3.0,3.0,3.0,3.0
2019: After the Fall of New York,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
"Young Black Stallion, The",3.0,4.333333,0.577350,4.0,4.0,4.0,4.5,5.0
Zombie (a.k.a. Zombie 2: The Dead Are Among Us) (Zombi 2),0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zombies of the Stratosphere,1.0,3.000000,NaN,3.0,3.0,3.0,3.0,3.0
Zone 39,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zulu Dawn,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
df

      movieId                              title  userId  rating
0           1                             Planes   286.0     4.0
1           1                             Planes   304.0     5.0
2           2  Big Mommas: Like Father, Like Son   109.0     2.0
3           2  Big Mommas: Like Father, Like Son   188.0     3.0
4           2  Big Mommas: Like Father, Like Son   243.0     4.0
...       ...                                ...     ...     ...
1371      997                    Black Hole, The   178.0     3.0
1372      997                    Black Hole, The   205.0     1.0
1373      998                    Little Fugitive   113.0     2.0
1374      999    Monty Python and the Holy Grail   224.0     4.0
1375     1000           Loins of Punjab Presents     NaN     NaN

[1376 rows x 4 columns]

In [24]:
df.corr(numeric_only=True)

          movieId    userId    rating
movieId  1.000000 -0.031241  0.026740
userId  -0.031241  1.000000 -0.020155
rating   0.026740 -0.020155  1.000000

In [ ]:
# 영화 제목이 모두 컬럼으로 가있어야지 상관계수를 뽑을 수 있다.
# 왜? corr() 함수는 컬럼과 컬럼의 관계를 뽑아주니까
# 컬럼에는 영화제목(열, 또는 영화id로 셋팅), 인덱스(행, 유저아이디, 295명), 각 영화에 별점 남긴 내용을 보고 분석
# 각 영화마다의 상관계수를 뽑아서 높은순에서 낮은순으로 정렬해서 추천 시스템을 만듬
# 데이터 프레임 모양을 바꿔야함

In [25]:
review_df['userId'].nunique()

295

In [ ]:
# 데이터 프레임의 모양을 바꿈
# 피봇테이블 함수

In [27]:
df_all = df.pivot_table(index='userId', columns='title', values='rating', aggfunc='mean')

In [28]:
df_all

title,12 Storeys (Shier lou),13 Ghosts,21 Hours at Munich,30 Days of Night,33 Postcards,"4 Months, 3 Weeks and 2 Days (4 luni, 3 saptamâni si 2 zile)",71 Fragments of a Chronology of Chance (71 Fragmente einer Chronologie des Zufalls),7500,8MM,A Magnificent Haunting,...,Woodstock,Wrongfully Accused,Xtro 2: The Second Encounter,Yanks,"Year and a Half in the Life of Metallica, A",You've Got Mail,Young Adult,Young Bess,"Young Black Stallion, The",Zombies of the Stratosphere
userId,,,,,,,,,,,,,,,,,,,,,
1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5.0,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
298.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
299.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
300.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
304.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# 상관계수를 뽑아보자

In [33]:
# 샘플 데이터에서는 리뷰가 많아야 3개 정도라 정확도가 떨어질 수 밖에 없다
# 실무에 가면 별점의 갯수가 특정 갯수 이하인 것은, 상관분석에서 뺄 수 있다.(어뷰징 방지)
# 반대로 말하면 별점의 갯수가 특정갯수 이상인 것만 유의미한 상관계수를 뽑도록 할 수 있다.
# min_periods 사용 (min_periods : 분석할 데이터의 최소 갯수)

corr_movie = df_all.corr(min_periods=2)

In [34]:
# 지금은 무비 타이틀로 했으나 실무에서는 무비 아이디로 처리해서 함
corr_movie

title,12 Storeys (Shier lou),13 Ghosts,21 Hours at Munich,30 Days of Night,33 Postcards,"4 Months, 3 Weeks and 2 Days (4 luni, 3 saptamâni si 2 zile)",71 Fragments of a Chronology of Chance (71 Fragmente einer Chronologie des Zufalls),7500,8MM,A Magnificent Haunting,...,Woodstock,Wrongfully Accused,Xtro 2: The Second Encounter,Yanks,"Year and a Half in the Life of Metallica, A",You've Got Mail,Young Adult,Young Bess,"Young Black Stallion, The",Zombies of the Stratosphere
title,,,,,,,,,,,,,,,,,,,,,
12 Storeys (Shier lou),1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13 Ghosts,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21 Hours at Munich,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30 Days of Night,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33 Postcards,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
You've Got Mail,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Young Adult,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Young Bess,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Young Black Stallion, The",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
Zombies of the Stratosphere,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
corr_movie['12 Storeys (Shier lou)'].sort_values(ascending=False)

title
12 Storeys (Shier lou)         1.0
13 Ghosts                      NaN
21 Hours at Munich             NaN
30 Days of Night               NaN
33 Postcards                   NaN
                              ...
You've Got Mail                NaN
Young Adult                    NaN
Young Bess                     NaN
Young Black Stallion, The      NaN
Zombies of the Stratosphere    NaN
Name: 12 Storeys (Shier lou), Length: 614, dtype: float64

In [ ]:
# 개인 맞춤형 영화 추천을 해야하므로, 로그인한 사람의 리뷰정보를 기반으로해서 추천을 해줘야 한다.

In [43]:
my_rating = pd.read_json('./data/my_rating.json')

In [44]:
my_rating

                                         title  rating
0         Silver Stallion (Silver Brumpy, The)       4
1                             There Be Dragons       3
2                                Hireling, The       3
3  I Have Found It (Kandukondain Kandukondain)       3

In [46]:
title = my_rating['title'][0]

In [47]:
title

'Silver Stallion (Silver Brumpy, The)'

In [50]:
corr_movie[title].dropna()

Series([], Name: Silver Stallion (Silver Brumpy, The), dtype: float64)

In [ ]:
# 기존 데이터가 너무 적어서 다른 파일로 다시 진행

In [51]:
movie_df = pd.read_csv('./data/Movie_Id_Titles.csv')

In [52]:
review_df = pd.read_csv('./data/user_rating.csv')

In [53]:
movie_df

      item_id                                      title
0           1                           Toy Story (1995)
1           2                           GoldenEye (1995)
2           3                          Four Rooms (1995)
3           4                          Get Shorty (1995)
4           5                             Copycat (1995)
...       ...                                        ...
1677     1678                          Mat' i syn (1997)
1678     1679                           B. Monkey (1998)
1679     1680                       Sliding Doors (1998)
1680     1681                        You So Crazy (1994)
1681     1682  Scream of Stone (Schrei aus Stein) (1991)

[1682 rows x 2 columns]

In [54]:
review_df

        user_id  item_id  rating  timestamp
0             0       50       5  881250949
1             0      172       5  881250949
2             0      133       1  881250949
3           196      242       3  881250949
4           186      302       3  891717742
...         ...      ...     ...        ...
99998       880      476       3  880175444
99999       716      204       5  879795543
100000      276     1090       1  874795795
100001       13      225       2  882399156
100002       12      203       3  879959583

[100003 rows x 4 columns]

In [56]:
df = pd.merge(movie_df, review_df, on='item_id', how='left')

In [57]:
df

,item_id,title,user_id,rating,timestamp
0,1,Toy Story (1995),308,4,887736532
1,1,Toy Story (1995),287,5,875334088
2,1,Toy Story (1995),148,4,877019411
3,1,Toy Story (1995),280,4,891700426
4,1,Toy Story (1995),66,3,883601324
...,...,...,...,...,...
99998,1678,Mat' i syn (1997),863,1,889289570
99999,1679,B. Monkey (1998),863,3,889289491
100000,1680,Sliding Doors (1998),863,2,889289570
100001,1681,You So Crazy (1994),896,3,887160722
100002,1682,Scream of Stone (Schrei aus Stein) (1991),916,3,880845755

In [61]:
df_all = df.pivot_table(index='user_id', columns='title', values='rating', aggfunc='mean')

In [65]:
corr_movie = df_all.corr(min_periods=50)

In [66]:
corr_movie

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
title,,,,,,,,,,,,,,,,,,,,,
'Til There Was You (1997),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1-900 (1994),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101 Dalmatians (1996),NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12 Angry Men (1957),NaN,NaN,NaN,1.0,NaN,NaN,NaN,0.178848,NaN,NaN,...,NaN,NaN,NaN,0.096546,NaN,NaN,NaN,NaN,NaN,NaN
187 (1997),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Young Guns II (1990),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Young Poisoner's Handbook, The (1995)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zeus and Roxanne (1997),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Á köldum klaka (Cold Fever) (1994),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
my_rating = pd.read_csv('./data/My_Ratings.csv')

In [82]:
my_rating

                     Movie Name  Ratings
0         101 Dalmatians (1996)        5
1  2001: A Space Odyssey (1968)        4
2           You So Crazy (1994)        1

In [88]:
title = my_rating['Movie Name'][0]

In [89]:
title

'101 Dalmatians (1996)'

In [90]:
recom_movie = corr_movie[title].dropna().sort_values(ascending=False).to_frame()

In [91]:
recom_movie

                                     101 Dalmatians (1996)
title
101 Dalmatians (1996)                             1.000000
Top Gun (1986)                                    0.492492
Hunt for Red October, The (1990)                  0.483807
Liar Liar (1997)                                  0.469765
Grumpier Old Men (1995)                           0.461647
...                                                    ...
Star Trek: The Wrath of Khan (1982)              -0.115497
Groundhog Day (1993)                             -0.126499
Twelve Monkeys (1995)                            -0.184141
Alien (1979)                                     -0.190265
Fargo (1996)                                     -0.245368

[76 rows x 1 columns]

In [92]:
recom_movie.columns = ['corr']

In [95]:
# 가중치 weight, 가중치로 확인하여 추천

recom_movie['weight']= recom_movie['corr']*my_rating['Ratings'][0]

In [96]:
recom_movie

                                         corr    weight
title
101 Dalmatians (1996)                1.000000  5.000000
Top Gun (1986)                       0.492492  2.462461
Hunt for Red October, The (1990)     0.483807  2.419033
Liar Liar (1997)                     0.469765  2.348824
Grumpier Old Men (1995)              0.461647  2.308235
...                                       ...       ...
Star Trek: The Wrath of Khan (1982) -0.115497 -0.577487
Groundhog Day (1993)                -0.126499 -0.632497
Twelve Monkeys (1995)               -0.184141 -0.920703
Alien (1979)                        -0.190265 -0.951326
Fargo (1996)                        -0.245368 -1.226842

[76 rows x 2 columns]

In [ ]:
# 비어있는 데이터프레임 만들고, 내가 본 영화의 가중치까지 계산해서 추천영화를 뽑아내자
# 추천 영화들을 비어있는 데이터프레임에 추가하면 된다.

In [112]:
movie_list = pd.DataFrame()

for i in range(my_rating.shape[0]):
    title = my_rating['Movie Name'][i]
    recom_movie = corr_movie[title].dropna().sort_values(ascending=False).to_frame()
    recom_movie.columns = ['corr']
    recom_movie['weight'] = recom_movie['corr'] * my_rating['Ratings'][i]
    movie_list = pd.concat([movie_list, recom_movie])

In [113]:
movie_list

                                         corr    weight
title
101 Dalmatians (1996)                1.000000  5.000000
Top Gun (1986)                       0.492492  2.462461
Hunt for Red October, The (1990)     0.483807  2.419033
Liar Liar (1997)                     0.469765  2.348824
Grumpier Old Men (1995)              0.461647  2.308235
...                                       ...       ...
Army of Darkness (1993)             -0.224656 -0.898622
Sword in the Stone, The (1963)      -0.238260 -0.953042
Jungle Book, The (1994)             -0.264809 -1.059235
So I Married an Axe Murderer (1993) -0.276184 -1.104736
Air Force One (1997)                -0.282994 -1.131976

[434 rows x 2 columns]

In [114]:
movie_list.sort_values('weight', ascending=False, inplace=True)

In [115]:
movie_list

                                         corr    weight
title
101 Dalmatians (1996)                1.000000  5.000000
2001: A Space Odyssey (1968)         1.000000  4.000000
Top Gun (1986)                       0.492492  2.462461
Hunt for Red October, The (1990)     0.483807  2.419033
Liar Liar (1997)                     0.469765  2.348824
...                                       ...       ...
Sword in the Stone, The (1963)      -0.238260 -0.953042
Jungle Book, The (1994)             -0.264809 -1.059235
So I Married an Axe Murderer (1993) -0.276184 -1.104736
Air Force One (1997)                -0.282994 -1.131976
Fargo (1996)                        -0.245368 -1.226842

[434 rows x 2 columns]

In [ ]:
# 내가 이미 본 영화 제거

In [116]:
for title in my_rating['Movie Name']:
    if title in movie_list.index:
        movie_list.drop(title, axis=0, inplace=True)

In [117]:
movie_list

                                         corr    weight
title
Top Gun (1986)                       0.492492  2.462461
Hunt for Red October, The (1990)     0.483807  2.419033
Liar Liar (1997)                     0.469765  2.348824
Grumpier Old Men (1995)              0.461647  2.308235
Lion King, The (1994)                0.426573  2.132864
...                                       ...       ...
Sword in the Stone, The (1963)      -0.238260 -0.953042
Jungle Book, The (1994)             -0.264809 -1.059235
So I Married an Axe Murderer (1993) -0.276184 -1.104736
Air Force One (1997)                -0.282994 -1.131976
Fargo (1996)                        -0.245368 -1.226842

[432 rows x 2 columns]

In [ ]:
# 이 리스트에는 중복된 영화도 있을 수 있다. 
# 따라서 중복된 영화가 있으면 웨이트 점수가 높은 것으로만 나오게 한다.
# groupby

In [ ]:
# 중복 데이터 확인

In [118]:
movie_list.reset_index().value_counts('title')

title
Dragonheart (1996)                        2
Sleepless in Seattle (1993)               2
Dances with Wolves (1990)                 2
Grumpier Old Men (1995)                   2
Snow White and the Seven Dwarfs (1937)    2
                                         ..
Ghost (1990)                              1
Get Shorty (1995)                         1
Gandhi (1982)                             1
Game, The (1997)                          1
Young Guns (1988)                         1
Name: count, Length: 358, dtype: int64

In [ ]:
# 웨이트 점수가 높은 것으로 정렬한다.

In [121]:
movie_list = movie_list.groupby('title')['weight'].max().sort_values(ascending=False)

In [122]:
movie_list

title
Top Gun (1986)                         2.462461
Hunt for Red October, The (1990)       2.419033
Liar Liar (1997)                       2.348824
Grumpier Old Men (1995)                2.308235
Lion King, The (1994)                  2.132864
                                         ...
Army of Darkness (1993)               -0.898622
Sword in the Stone, The (1963)        -0.953042
Jungle Book, The (1994)               -1.059235
So I Married an Axe Murderer (1993)   -1.104736
Air Force One (1997)                  -1.131976
Name: weight, Length: 358, dtype: float64

In [ ]:
# json 형식(리스트와 딕셔너리 형태)

In [126]:
movie_list.to_frame().reset_index().to_dict('records')

[{'title': 'Top Gun (1986)', 'weight': 2.4624611027070586},
 {'title': 'Hunt for Red October, The (1990)', 'weight': 2.4190326101711372},
 {'title': 'Liar Liar (1997)', 'weight': 2.3488243471288577},
 {'title': 'Grumpier Old Men (1995)', 'weight': 2.3082353839359935},
 {'title': 'Lion King, The (1994)', 'weight': 2.1328639519572254},
 {'title': 'Dragonheart (1996)', 'weight': 2.068932722556984},
 {'title': 'Aladdin (1992)', 'weight': 1.9255875243143343},
 {'title': 'Rock, The (1996)', 'weight': 1.914278749450704},
 {'title': 'Father of the Bride Part II (1995)', 'weight': 1.8395838326642335},
 {'title': 'True Romance (1993)', 'weight': 1.8367567728189418},
 {'title': 'Mrs. Doubtfire (1993)', 'weight': 1.815655424008835},
 {'title': 'Sleepless in Seattle (1993)', 'weight': 1.812035158756025},
 {'title': 'Natural Born Killers (1994)', 'weight': 1.7689905074976544},
 {'title': 'Being There (1979)', 'weight': 1.7000371988921232},
 {'title': 'Snow White and the Seven Dwarfs (1937)',
  'weight': 1.6781716147575163},
 {'title': 'Babe (1995)', 'weight': 1.6169670450111704},
 {'title': 'James and the Giant Peach (1996)', 'weight': 1.6003444481224796},
 {'title': 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963)',
  'weight': 1.5716632188842343},
 {'title': 'When Harry Met Sally... (1989)', 'weight': 1.5601040681904932},
 {'title': 'Ransom (1996)', 'weight': 1.5587431372195608},
 {'title': 'Independence Day (ID4) (1996)', 'weight': 1.5559100250513054},
 {'title': 'Clockwork Orange, A (1971)', 'weight': 1.5522848575339168},
 {'title': 'To Die For (1995)', 'weight': 1.5282539004197893},
 {'title': "Mr. Holland's Opus (1995)", 'weight': 1.500629975602209},
 {'title': 'Men in Black (1997)', 'weight': 1.4967608691202838},
 {'title': 'Braveheart (1995)', 'weight': 1.493535003839008},
 {'title': 'Citizen Kane (1941)', 'weight': 1.4816532930354542},
 {'title': 'High Noon (1952)', 'weight': 1.4675932420274134},
 {'title': 'Swingers (1996)', 'weight': 1.4565890881303927},
 {'title': 'Twister (1996)', 'weight': 1.4418745018211805},
 {'title': 'Big Sleep, The (1946)', 'weight': 1.423552522957655},
 {'title': 'Terminator 2: Judgment Day (1991)', 'weight': 1.4004050977143696},
 {'title': 'Nutty Professor, The (1996)', 'weight': 1.3974547762784888},
 {'title': 'Sabrina (1995)', 'weight': 1.3543810392952453},
 {'title': 'Hudsucker Proxy, The (1994)', 'weight': 1.3415271171038101},
 {'title': 'Reservoir Dogs (1992)', 'weight': 1.336006089750278},
 {'title': 'Lawrence of Arabia (1962)', 'weight': 1.3248808632106577},
 {'title': 'Close Shave, A (1995)', 'weight': 1.3172161743077564},
 {'title': 'Chinatown (1974)', 'weight': 1.311643700186622},
 {'title': 'People vs. Larry Flynt, The (1996)', 'weight': 1.3091694457455063},
 {'title': 'Hunchback of Notre Dame, The (1996)',
  'weight': 1.2950398779968884},
 {'title': 'English Patient, The (1996)', 'weight': 1.2810498515960609},
 {'title': 'East of Eden (1955)', 'weight': 1.2563368113049527},
 {'title': 'Apocalypse Now (1979)', 'weight': 1.2513881279263543},
 {'title': 'Sex, Lies, and Videotape (1989)', 'weight': 1.2330807476191161},
 {'title': 'Back to the Future (1985)', 'weight': 1.2316921586687806},
 {'title': 'Birds, The (1963)', 'weight': 1.2261250819799887},
 {'title': 'Godfather, The (1972)', 'weight': 1.2228675411996643},
 {'title': 'Jurassic Park (1993)', 'weight': 1.2058726167932652},
 {'title': 'Fargo (1996)', 'weight': 1.1995289875039725},
 {'title': 'True Lies (1994)', 'weight': 1.173268705086081},
 {'title': 'Carrie (1976)', 'weight': 1.1649165883578858},
 {'title': 'Sound of Music, The (1965)', 'weight': 1.1620416613977664},
 {'title': 'Toy Story (1995)', 'weight': 1.1605907797051116},
 {'title': 'E.T. the Extra-Terrestrial (1982)', 'weight': 1.1511947942064054},
 {'title': 'Monty Python and the Holy Grail (1974)',
  'weight': 1.1396429926239153},
 {'title': "Monty Python's Life of Brian (1979)",
  'weight': 1.1297831361263064},
 {'title': 'Bridge on the River Kwai, The (1957)',
  'weight': 1.129139635912083},
 {'title': 'Phenomenon (1996)', 'weight': 1.1118109176707067},
 {'title': 'Star Trek: The Motion Picture (1979)',
  'weight': 1.101727393770304},
 {'title': 'Indiana Jones and the Last Crusade (1989)',
  'weight': 1.0844151360921463},
 {'title': 'Dial M for Murder (1954)', 'weight': 1.0809395612600192},
 {'title': 'Rebecca (1940)', 'weight': 1.0775192503588105},
 {'title': 'Bonnie and Clyde (1967)', 'weight': 1.077323795211441},
 {'title': 'Forrest Gump (1994)', 'weight': 1.0754684957462128},
 {'title': "Breakfast at Tiffany's (1961)", 'weight': 1.0737239704944967},
 {'title': 'Mars Attacks! (1996)', 'weight': 1.0575950946611141},
 {'title': 'Star Wars (1977)', 'weight': 1.0556613302454048},
 {'title': 'Forbidden Planet (1956)', 'weight': 1.0496253494153327},
 {'title': 'Big Night (1996)', 'weight': 1.0432611880568001},
 {'title': 'Terminator, The (1984)', 'weight': 1.040262978812976},
 {'title': '20,000 Leagues Under the Sea (1954)',
  'weight': 1.0372321780463232},
 {'title': 'Vertigo (1958)', 'weight': 1.0287947304647145},
 {'title': 'Postino, Il (1994)', 'weight': 1.0243387425919137},
 {'title': 'Casino (1995)', 'weight': 1.021193693531583},
 {'title': 'Aliens (1986)', 'weight': 1.0200534215297576},
 {'title': 'Graduate, The (1967)', 'weight': 1.0119488683131923},
 {'title': 'Brazil (1985)', 'weight': 1.0110955156241805},
 {'title': 'Mission: Impossible (1996)', 'weight': 0.9982199555814636},
 {'title': 'Alien (1979)', 'weight': 0.9923558242935536},
 {'title': 'Cook the Thief His Wife & Her Lover, The (1989)',
  'weight': 0.9870871468288455},
 {'title': 'Maltese Falcon, The (1941)', 'weight': 0.9835734410935473},
 {'title': 'Seventh Seal, The (Sjunde inseglet, Det) (1957)',
  'weight': 0.9784266059262782},
 {'title': 'Sunset Blvd. (1950)', 'weight': 0.9754782110915124},
 {'title': 'Casablanca (1942)', 'weight': 0.9736612477680612},
 {'title': 'Jaws (1975)', 'weight': 0.9676750967119462},
 {'title': 'Dead Poets Society (1989)', 'weight': 0.9559665274005948},
 {'title': 'Wizard of Oz, The (1939)', 'weight': 0.9473216997376784},
 {'title': 'Crumb (1994)', 'weight': 0.9470140063446869},
 {'title': 'Stand by Me (1986)', 'weight': 0.9188832424598863},
 {'title': 'Harold and Maude (1971)', 'weight': 0.9177464313965291},
 {'title': 'Day the Earth Stood Still, The (1951)',
  'weight': 0.9091927475679258},
 {'title': 'GoodFellas (1990)', 'weight': 0.9073563114854909},
 {'title': 'Unbearable Lightness of Being, The (1988)',
  'weight': 0.9019798160531356},
 {'title': 'Full Metal Jacket (1987)', 'weight': 0.8988279931219528},
 {'title': 'Batman (1989)', 'weight': 0.8898307500861742},
 {'title': 'Good, The Bad and The Ugly, The (1966)',
  'weight': 0.8886271595534058},
 {'title': 'Shadowlands (1993)', 'weight': 0.8884998837660956},
 {'title': 'Taxi Driver (1976)', 'weight': 0.8845525455875268},
 {'title': 'Donnie Brasco (1997)', 'weight': 0.8822039843251223},
 {'title': 'Dumbo (1941)', 'weight': 0.8792284257195714},
 {'title': 'Alien 3 (1992)', 'weight': 0.8791453549969469},
 {'title': 'Mask, The (1994)', 'weight': 0.8746447343820236},
 {'title': 'Get Shorty (1995)', 'weight': 0.8634965759696273},
 {'title': 'Beavis and Butt-head Do America (1996)',
  'weight': 0.8626045396673178},
 {'title': 'Shining, The (1980)', 'weight': 0.8603089626738916},
 {'title': 'Pulp Fiction (1994)', 'weight': 0.8525347483410021},
 {'title': 'Raging Bull (1980)', 'weight': 0.8440898350141943},
 {'title': 'Mighty Aphrodite (1995)', 'weight': 0.8411151511337228},
 {'title': "Miller's Crossing (1990)", 'weight': 0.8404291081378329},
 {'title': 'Godfather: Part II, The (1974)', 'weight': 0.83993192916309},
 {'title': 'Unforgiven (1992)', 'weight': 0.8342691208684564},
 {'title': 'Return of the Jedi (1983)', 'weight': 0.8282960869850831},
 {'title': 'My Left Foot (1989)', 'weight': 0.820895094609484},
 {'title': 'Mystery Science Theater 3000: The Movie (1996)',
  'weight': 0.8193464903987026},
 {'title': 'Beauty and the Beast (1991)', 'weight': 0.8109547449961775},
 {'title': 'Broken Arrow (1996)', 'weight': 0.8087958194823248},
 {'title': 'North by Northwest (1959)', 'weight': 0.8061205936236759},
 {'title': 'Bullets Over Broadway (1994)', 'weight': 0.8048936384967302},
 {'title': 'Pinocchio (1940)', 'weight': 0.804536510824837},
 {'title': 'Princess Bride, The (1987)', 'weight': 0.8030692203148164},
 {'title': 'Rebel Without a Cause (1955)', 'weight': 0.8001110156754498},
 {'title': 'Raiders of the Lost Ark (1981)', 'weight': 0.7921087321645375},
 {'title': 'Twelve Monkeys (1995)', 'weight': 0.7892369408275889},
 {'title': 'Fantasia (1940)', 'weight': 0.7875690532890383},
 {'title': 'This Is Spinal Tap (1984)', 'weight': 0.7819607240538643},
 {'title': 'Blade Runner (1982)', 'weight': 0.7644337863654281},
 {'title': 'Tomorrow Never Dies (1997)', 'weight': 0.7640590595837211},
 {'title': 'Philadelphia Story, The (1940)', 'weight': 0.7498779357955114},
 {'title': 'Jerry Maguire (1996)', 'weight': 0.7461453603013886},
 {'title': 'Wrong Trousers, The (1993)', 'weight': 0.7458323172878927},
 {'title': 'Speed (1994)', 'weight': 0.7410334976311211},
 {'title': 'Apollo 13 (1995)', 'weight': 0.7386825349743409},
 {'title': "One Flew Over the Cuckoo's Nest (1975)",
  'weight': 0.738359778198438},
 {'title': 'Leaving Las Vegas (1995)', 'weight': 0.7373090566762813},
 {'title': '12 Angry Men (1957)', 'weight': 0.7153930137097237},
 {'title': 'Duck Soup (1933)', 'weight': 0.710116981518756},
 {'title': 'Deer Hunter, The (1978)', 'weight': 0.6911697775179482},
 {'title': 'Return of the Pink Panther, The (1974)',
  'weight': 0.6901916895075133},
 {'title': 'Man Who Would Be King, The (1975)', 'weight': 0.6885737703066316},
 {'title': "Schindler's List (1993)", 'weight': 0.6866434694271084},
 {'title': 'Rear Window (1954)', 'weight': 0.6805481622709962},
 {'title': 'Platoon (1986)', 'weight': 0.6645421895408197},
 {'title': 'Third Man, The (1949)', 'weight': 0.660227781709082},
 {'title': 'Like Water For Chocolate (Como agua para chocolate) (1992)',
  'weight': 0.6588189392152098},
 {'title': 'Grifters, The (1990)', 'weight': 0.6549206830431307},
 {'title': 'Gandhi (1982)', 'weight': 0.6499120861683239},
 {'title': 'Trainspotting (1996)', 'weight': 0.6458909834500445},
 {'title': 'Heathers (1989)', 'weight': 0.630245293375716},
 {'title': 'Lost World: Jurassic Park, The (1997)',
  'weight': 0.6258185408663126},
 {'title': 'M*A*S*H (1970)', 'weight': 0.6249574195769737},
 {'title': 'Scream (1996)', 'weight': 0.6202929496120017},
 {'title': 'Escape from New York (1981)', 'weight': 0.6108093154635788},
 {'title': 'African Queen, The (1951)', 'weight': 0.6097334782408161},
 {'title': 'Star Trek: The Wrath of Khan (1982)',
  'weight': 0.6065368751900471},
 {'title': 'Three Musketeers, The (1993)', 'weight': 0.6059168859143751},
 {'title': 'Dead Man Walking (1995)', 'weight': 0.5935079350793749},
 {'title': 'Willy Wonka and the Chocolate Factory (1971)',
  'weight': 0.5891707620025514},
 {'title': 'Star Trek VI: The Undiscovered Country (1991)',
  'weight': 0.585583320496533},
 {'title': 'Butch Cassidy and the Sundance Kid (1969)',
  'weight': 0.5853751825770316},
 {'title': 'Sling Blade (1996)', 'weight': 0.5770831628745251},
 {'title': 'Empire Strikes Back, The (1980)', 'weight': 0.5663931877644491},
 {'title': 'Jumanji (1995)', 'weight': 0.5608981561505021},
 {'title': 'Victor/Victoria (1982)', 'weight': 0.5597325188077222},
 {'title': 'Cool Hand Luke (1967)', 'weight': 0.5583606822419132},
 {'title': 'Cape Fear (1962)', 'weight': 0.5582905262390834},
 {'title': 'Ace Ventura: Pet Detective (1994)', 'weight': 0.5536679890264835},
 {'title': 'Bound (1996)', 'weight': 0.5458136752142403},
 {'title': 'Professional, The (1994)', 'weight': 0.5368663305801802},
 {'title': 'Birdcage, The (1996)', 'weight': 0.5368409732203935},
 {'title': 'Game, The (1997)', 'weight': 0.5348592719374061},
 {'title': 'Fugitive, The (1993)', 'weight': 0.5314635773878532},
 {'title': 'Ran (1985)', 'weight': 0.5289639674902049},
 {'title': 'Cape Fear (1991)', 'weight': 0.5196332854063275},
 {'title': 'Heavy Metal (1981)', 'weight': 0.5159234594827287},
 {'title': "William Shakespeare's Romeo and Juliet (1996)",
  'weight': 0.5157546339043899},
 {'title': 'Ed Wood (1994)', 'weight': 0.5133942909961348},
 {'title': 'Shine (1996)', 'weight': 0.5124439447903402},
 {'title': 'Interview with the Vampire (1994)', 'weight': 0.5112312321211392},
 {'title': 'Amadeus (1984)', 'weight': 0.5108695275528954},
 {'title': 'Heat (1995)', 'weight': 0.5102072359930268},
 {'title': 'Magnificent Seven, The (1954)', 'weight': 0.5082849943130436},
 {'title': 'Alice in Wonderland (1951)', 'weight': 0.5078897160291451},
 {'title': 'Piano, The (1993)', 'weight': 0.5055746494625797},
 {'title': 'Sting, The (1973)', 'weight': 0.5006882967491885},
 {'title': 'Fifth Element, The (1997)', 'weight': 0.49983719405619026},
 {'title': 'It Happened One Night (1934)', 'weight': 0.4965692458243712},
 {'title': "Singin' in the Rain (1952)", 'weight': 0.4805295132590042},
 {'title': 'Lone Star (1996)', 'weight': 0.47905151944128865},
 {'title': 'On Golden Pond (1981)', 'weight': 0.47857261206093343},
 {'title': 'Fish Called Wanda, A (1988)', 'weight': 0.47280574357423943},
 {'title': 'Long Kiss Goodnight, The (1996)', 'weight': 0.47163263085972845},
 {'title': 'Usual Suspects, The (1995)', 'weight': 0.4714823473323774},
 {'title': 'Glory (1989)', 'weight': 0.4638865764608798},
 {'title': 'Star Trek: Generations (1994)', 'weight': 0.46324142528377044},
 {'title': 'Great Escape, The (1963)', 'weight': 0.4577127183429257},
 {'title': 'Psycho (1960)', 'weight': 0.4518448956258313},
 {'title': 'Secrets & Lies (1996)', 'weight': 0.44105085730200655},
 {'title': 'Annie Hall (1977)', 'weight': 0.43735054069708645},
 {'title': 'Ben-Hur (1959)', 'weight': 0.4221187762377123},
 {'title': 'Star Trek: First Contact (1996)', 'weight': 0.4188196801399635},
 {'title': 'Nightmare Before Christmas, The (1993)',
  'weight': 0.4134605395417181},
 {'title': 'Manhattan (1979)', 'weight': 0.40065939200215994},
 {'title': 'In the Name of the Father (1993)', 'weight': 0.3954188270186667},
 {'title': 'Remains of the Day, The (1993)', 'weight': 0.39226020448971305},
 {'title': 'Pink Floyd - The Wall (1982)', 'weight': 0.3758588918021964},
 {'title': 'Net, The (1995)', 'weight': 0.37020846337817304},
 {'title': 'Glengarry Glen Ross (1992)', 'weight': 0.3667576719077263},
 {'title': 'Abyss, The (1989)', 'weight': 0.35682264627441873},
 {'title': 'L.A. Confidential (1997)', 'weight': 0.3545298892670034},
 {'title': 'Raising Arizona (1987)', 'weight': 0.3446190292293579},
 {'title': 'Smoke (1995)', 'weight': 0.33743977120827146},
 {'title': 'Blues Brothers, The (1980)', 'weight': 0.33377692558147387},
 {'title': 'Silence of the Lambs, The (1991)', 'weight': 0.333724632655377},
 {'title': 'Shawshank Redemption, The (1994)', 'weight': 0.3257057063638429},
 {'title': 'Client, The (1994)', 'weight': 0.32037848285397186},
 {'title': 'Nikita (La Femme Nikita) (1990)', 'weight': 0.31363376482850686},
 {'title': 'Adventures of Priscilla, Queen of the Desert, The (1994)',
  'weight': 0.3084915458246165},
 {'title': 'Truth About Cats & Dogs, The (1996)',
  'weight': 0.2857196488720386},
 {'title': 'To Kill a Mockingbird (1962)', 'weight': 0.2846693785668672},
 {'title': 'Treasure of the Sierra Madre, The (1948)',
  'weight': 0.271167147020598},
 {'title': 'Seven (Se7en) (1995)', 'weight': 0.2706117681143021},
 {'title': 'Mary Poppins (1964)', 'weight': 0.26125464682254285},
 {'title': 'Desperado (1995)', 'weight': 0.2585376253038807},
 {'title': 'Quiz Show (1994)', 'weight': 0.25127106979473596},
 {'title': 'Cold Comfort Farm (1995)', 'weight': 0.24322988907184265},
 {'title': 'Hamlet (1996)', 'weight': 0.2331550026287295},
 {'title': 'Nell (1994)', 'weight': 0.2286210073799875},
 {'title': 'Arsenic and Old Lace (1944)', 'weight': 0.22810936642699403},
 {'title': 'In the Line of Fire (1993)', 'weight': 0.22407265728510883},
 {'title': 'Crying Game, The (1992)', 'weight': 0.22392321868063558},
 {'title': 'Clear and Present Danger (1994)', 'weight': 0.22243017667529283},
 {'title': 'Secret Garden, The (1993)', 'weight': 0.2212377198109206},
 {'title': 'Die Hard: With a Vengeance (1995)', 'weight': 0.21487376110973547},
 {'title': 'River Wild, The (1994)', 'weight': 0.21200819780880928},
 {'title': 'Star Trek IV: The Voyage Home (1986)',
  'weight': 0.20998870286937651},
 {'title': 'Rob Roy (1995)', 'weight': 0.19925953422759582},
 {'title': "It's a Wonderful Life (1946)", 'weight': 0.1920503335167571},
 {'title': 'Strange Days (1995)', 'weight': 0.1903426373356708},
 {'title': 'Patton (1970)', 'weight': 0.19033885983075094},
 {'title': 'Cat on a Hot Tin Roof (1958)', 'weight': 0.18073162157439948},
 {'title': 'Austin Powers: International Man of Mystery (1997)',
  'weight': 0.17924291255320776},
 {'title': 'Groundhog Day (1993)', 'weight': 0.17238959482471636},
 {'title': 'Sleeper (1973)', 'weight': 0.16741094457327213},
 {'title': 'Sense and Sensibility (1995)', 'weight': 0.16698098346305723},
 {'title': 'Right Stuff, The (1983)', 'weight': 0.1595500426915259},
 {'title': 'Starship Troopers (1997)', 'weight': 0.1555393792332338},
 {'title': 'Hoop Dreams (1994)', 'weight': 0.1383564194065507},
 {'title': 'Sleepers (1996)', 'weight': 0.13540164753374875},
 {'title': 'Waterworld (1995)', 'weight': 0.12754257579895079},
 {'title': 'Courage Under Fire (1996)', 'weight': 0.125976141287972},
 {'title': 'Star Trek III: The Search for Spock (1984)',
  'weight': 0.11471411917803684},
 {'title': 'Conan the Barbarian (1981)', 'weight': 0.10975092402044946},
 {'title': 'Die Hard (1988)', 'weight': 0.10056098822456067},
 {'title': 'Dances with Wolves (1990)', 'weight': 0.0996357614062026},
 {'title': 'Good Will Hunting (1997)', 'weight': 0.09951674686602753},
 {'title': 'Real Genius (1985)', 'weight': 0.0937476254411713},
 {'title': 'Parent Trap, The (1961)', 'weight': 0.09130215922649176},
 {'title': 'Dave (1993)', 'weight': 0.08301925572638592},
 {'title': 'Emma (1996)', 'weight': 0.07652739073133541},
 {'title': 'Some Like It Hot (1959)', 'weight': 0.06989803117962579},
 {'title': 'Contact (1997)', 'weight': 0.056981963268747535},
 {'title': 'Tin Cup (1996)', 'weight': 0.05621514818193571},
 {'title': 'Killing Fields, The (1984)', 'weight': 0.04916630645731278},
 {'title': 'Crimson Tide (1995)', 'weight': 0.040116195010805794},
 {'title': 'Dolores Claiborne (1994)', 'weight': 0.03424056746373411},
 {'title': 'Under Siege (1992)', 'weight': 0.020264180706057813},
 {'title': 'Kingpin (1996)', 'weight': 0.019652361467545846},
 {'title': 'Gone with the Wind (1939)', 'weight': 0.01955886434161587},
 {'title': 'Executive Decision (1996)', 'weight': 0.014533815096485691},
 {'title': 'Pump Up the Volume (1990)', 'weight': 0.01349678011926787},
 {'title': 'Room with a View, A (1986)', 'weight': 0.007025607717942462},
 {'title': 'Young Frankenstein (1974)', 'weight': -0.005229757122365971},
 {'title': 'Streetcar Named Desire, A (1951)',
  'weight': -0.020066998745176753},
 {'title': 'Nightmare on Elm Street, A (1984)',
  'weight': -0.02651387951018641},
 {'title': 'Grosse Pointe Blank (1997)', 'weight': -0.027964076385766406},
 {'title': 'Field of Dreams (1989)', 'weight': -0.03871364685579134},
 {'title': 'Cliffhanger (1993)', 'weight': -0.039806110270744995},
 {'title': "What's Eating Gilbert Grape (1993)",
  'weight': -0.04491124445611338},
 {'title': 'Chasing Amy (1997)', 'weight': -0.05343324319114724},
 {'title': 'Philadelphia (1993)', 'weight': -0.0580214093680523},
 {'title': 'Four Weddings and a Funeral (1994)',
  'weight': -0.06036844774894575},
 {'title': 'Somewhere in Time (1980)', 'weight': -0.061202410232515506},
 {'title': 'Boot, Das (1981)', 'weight': -0.07431955409901532},
 {'title': 'Omen, The (1976)', 'weight': -0.08475894998163992},
 {'title': 'Benny & Joon (1993)', 'weight': -0.09180204964038899},

In [120]:
corr_movie.to_csv('corr_movie.csv')